.grid1 {
    height: 100%;
    padding: 0px;
}

h1 {
    margin-top: 10%;
    margin-left: 25%;
}

.contaier-login {
    height: 70%;
    width: 90%;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.row1 {
    height: 50%;
}

.row2 {
    height: 50%;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    left: auto;
    position: absolute !important;
    top: 0px !important;
}

ion-list {
    height: 100%;
    ion-input,
    ion-select {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}